service system_suspend /system/bin/hw/android.system.suspend-service
    class early_hal
    user system
    group system wakelock
    capabilities BLOCK_SUSPEND

on init && property:ro.board.api_level=202604
    chown system system /sys/module/suspend/parameters/pm_fs_abort
