# Copyright (C) 2025 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Add a -D switch to make pmgd save heapdumps on disk instead of uploading
# them.  The destination directory is /data/misc/perfetto-traces/.
service pmgd /system/bin/pmgd
    class core
    user nobody
    group system readproc misc
    disabled

on property:sys.boot_completed=1
    # The pmgd service always starts but it will suspend forever if the feature
    # flag is disabled.
    enable pmgd

on post-fs-data
    mkdir /data/misc/pmgd 0770 system system

    write /data/misc/pmgd/history.json "{}"

    chmod 0660 /data/misc/pmgd/history.json
    chown system system /data/misc/pmgd/history.json